*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  }

.desktop {
  display: flex;
  justify-content: center;
}
.container{
  display: flex;
  justify-content: center;
  width: 1350px;
}
.centeredFlex{
  display: flex;
  align-items: center;
  justify-content: center;
}
