*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  }

.desktop {
  display: flex;
  justify-content: center;
}
.container{
  display: flex;
  justify-content: center;
  width: 1350px;
}
.centeredFlex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.scrollBox::-webkit-scrollbar {
  width: 15px;
}
.scrollBox::-webkit-scrollbar-thumb {
  background: #0B56A4;
  border-radius: 30px;
  height: 40px;
}
.scrollBox::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 140, 255);
}

